* {
    font-family: 'IM Fell Double Pica SC', serif;
}

body {
    text-align: center;
    background-color: #deca57;
}

h1 {
    font-size: 4em;
}

input {
    font-size: 1.8em;
    padding: 12px 20px;
    border-radius: 5%;
}

input:focus {
    border-color: black;
    border-width: 0.12em;
}

.down {
    margin-top: 4%;
}

#result {
    font-size: 6em;
}

p {
    font-size: 1.8em;
}